
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  border: 3px solid red;
}

.container {
  background-color: darkgrey;
  border-radius: 7px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 3px solid green
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  border: 3px solid blue;
  margin: auto 0;
}